.favorite {
    display: flex;
    align-items: center;
    gap: 8px;

    .star-wrap {
        width: 30px;
        padding: 4px;
        cursor: pointer;

        .star {
            width: 25px;
        }
    }
}

.game-container {
    display: grid;
    grid-template-columns: 640px 1fr;
    overflow: hidden;
}

.editor-container,
.instruction-container {
    position: relative;
    display: grid;
    height: 100svh;
}

.editor-container {
    grid-template-rows: 1fr;
    border-right: 2px solid rgba(var(--c4), 1);
}

.editor-wrap {
    display: flex;
    flex-direction: column;
}

.editor-title {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--tertiary-space);
    padding: var(--quaternary-space) var(--tertiary-space);
    font-size: 0.9rem;
    background-color: rgba(var(--c2), 1);
    border-block: 2px solid rgba(var(--c4), 1);
}

.editor-title .btn:nth-child(2) {
    margin-left: auto;
}

.sections-divider {
    cursor: grab;
}

.sections-divider:active {
  cursor: grabbing;
}

.sections-divider:hover {
    background: #282828;
}

.sections-divider {
    position: absolute;
    top: 0;
    left: calc(2px + 100%);
    z-index: 20;
    height: 100%;
    width: 25px;
    background-color: rgba(var(--c2), 1);
    border-right: 2px solid rgba(var(--c4), 1);
}

.instructions {
    padding-left: 25px;
    height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;

    .nav-wrap {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: rgba(var(--c1), 1);
        padding: var(--quaternary-space) var(--tertiary-space);
        
        .nav {
            display: inline-flex;
            border: none;
            gap: var(--tertiary-space);
            padding: 0;
        }
    }

    .nav-panel {
        position: relative;
        overflow-y: auto;
        border-top: 2px solid rgba(var(--c4), 1);
        border-right: 2px solid rgba(var(--c4), 1);

        .nav-panel-description {
            padding: var(--secondary-space);

            ::ng-deep p {
                margin-bottom: 1rem;
            }

            ::ng-deep code {
                position: relative;
                display: inline-block;
                padding: 4px 8px;

                &::before {
                    content: "";
                    position: absolute;
                    width: calc(100% - 4px);
                    height: calc(100% - 2px);
                    box-shadow: inset 0 0 0 1px rgba(var(--primary-color), 0.5);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .nav-panel-solution {
            height: 100%;
        }
    }
}

.benchmark-accordion {
    box-shadow: none;

    .accordion-item {
        border: none;
        border-bottom: 2px solid rgba(var(--primary-color), 1) !important;
        background-color: rgba(var(--c2), 0.5);

        &.test-passed {
            background-color: #1d3b29aa;
        }
        
        &.test-failed {
            background-color: #3b2224aa;
        }

        .accordion-body {
            background: rgba(var(--c3), 0.5);
        }
        
        &.test-passed .accordion-body {
            background-color: #162d20aa;
        }
        
        &.test-failed .accordion-body {
            background-color: #2b1819aa;
        }
    }

    .benchmark-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#matrix-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.66;
}
