.container {
    padding-inline: var(--secondary-space);
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    align-content: space-evenly;
    height: 100svh;
}

.scrollable-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--tertiary-space);

    .form-control {
        width: auto;
        margin-left: auto;
    }
}

.scrollable  {
    height: 34svh;
    overflow-y: scroll;
    padding: var(--secondary-space);
    border: 2px solid rgba(var(--primary-color));

    ul {
        display: flex;
        flex-direction: column;
        gap: var(--secondary-space);
    }
    
    &:has(> ul:empty)::after {
        content: "No lobbies found";
    }
}

.lobby {
    display: flex;
    align-items: center;
    padding: var(--tertiary-space) var(--secondary-space);
    border: 2px solid rgba(var(--primary-color));
    transition: all 0.4s ease;
    
    &.lobby-open {
        box-shadow: 0 0 10px 0 rgba(var(--primary-color));

        &:hover {
            background-color: rgba(var(--primary-color), 0.2);
        }
    }

    &.lobby-close {
        opacity: 0.85;
    }

    .lobby-content {
        flex-grow: 1;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0 var(--secondary-space);

        > * {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        > *:nth-child(even) {
            font-weight: 700;
        }
    }
}
