<div class="game-container">
    <div class="editor-container">
        <div class="editor-wrap">
            <div class="editor" id="editor"></div>
            <div class="editor-floatbar">
                <button class="btn btn-primary">Run code</button>
            </div>
        </div>
        <div class="console-container">
            <div class="console-title">Console</div>
            <div class="console">
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
            </div>
        </div>
        <div class="sections-divider"></div>
    </div>
    <div class="content-container">
        <div class="instructions-container">
            <div class="instructions">
                <ul class="nav pt-2">
                    <li class="nav-item ms-2 active">
                        <a class="nav-link" href="#">Instructions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Benchmark</a>
                    </li>
                </ul>
            </div>
            <div class="leaderboard-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Passed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>Steve</td>
                            <td>5 / 20</td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>Yukihiro</td>
                            <td>3 / 20</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>George</td>
                            <td>1 / 20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="chat-container">
            <div class="chat-title">Chat</div>
            <div class="chat">
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
            </div>
        </div>
    </div>
</div>
