.compact {
    font-size: 0.85rem;
    padding: 4px 8px;
    line-height: 1;
    white-space: nowrap;
}

.game-container {
    display: grid;
    grid-template-columns: 640px 1fr;
    overflow: hidden;
}

.editor-container,
.content-container {
    position: relative;
    display: grid;
    height: 100svh;
}

.editor-container {
    grid-template-rows: 1fr 200px;
}

.content-container {
    grid-template-rows: 1fr 250px;
}

.editor-container {
    border-right: 2px solid #333;
}

.editor-wrap {
    display: flex;
    flex-direction: column;
}

.editor-title,
.console-title,
.chat-title {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px var(--tertiary-space);
    font-size: 0.9rem;
    background-color: #181818;
    border-block: 2px solid #333;
}

.editor-buttons {
    display: flex;
    gap: var(--tertiary-space);
}

.console-container,
.chat-container {
    background-color: #222;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.console-title,
.chat-title {
    cursor: grab;
}

.console-title:active,
.chat-title:active {
  cursor: grabbing;
}

.console,
.chat {
    overflow-y: auto;
}

.sections-divider {
    position: absolute;
    top: 0;
    left: calc(2px + 100%);
    z-index: 10;
    height: 100%;
    width: 25px;
    background-color: #181818;
    border-right: 2px solid #333;
    cursor: grab;
}

.sections-divider:active {
  cursor: grabbing;
}

.console-message {
    padding: 5px var(--tertiary-space);
    border-bottom: 2px solid #333;
}

.log-color {
    color: #fff !important;
}

.warn-color {
    color: #fd0 !important;
}

.error-color {
    color: #f00 !important;
}

.content-container {
    padding-left: 25px;
}

.instructions-container {
    display: grid;
    grid-template-columns: 1fr 250px;
    overflow: hidden;
}

.instructions {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

.instructions-nav {
    background-color: #111;
    border: none;
    gap: var(--tertiary-space);
    padding: 5px var(--tertiary-space);
}

.instructions-nav-content {
    overflow-y: auto;
    border-top: 2px solid #333;
    border-right: 2px solid #333;

}

.instructions-nav-content-1 {
    padding: var(--secondary-space);
}

.benchmark-accordion {
    box-shadow: none;
}

.benchmark-accordion .accordion-item {
    border: none;
    border-bottom: 2px solid rgba(var(--primary-color), 1) !important;
    background-color: #181818;
}

.benchmark-accordion .accordion-item.test-passed {
    background-color: #040;
}

.benchmark-accordion .accordion-item.test-failed {
    background-color: #400;
}

.benchmark-accordion-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benchmark-accordion .accordion-body {
    background: #222;
}

.benchmark-accordion .accordion-item.test-passed .accordion-body {
    background-color: #020;
}

.benchmark-accordion .accordion-item.test-failed .accordion-body {
    background-color: #200;
}

.leaderboard-container {
    padding: 20px;
    background-color: #111;
    display: grid;
    gap: 20px;
    align-content: start;
    overflow-y: auto;
}

.leaderboard-container tbody td:nth-child(2) {
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--tertiary-space);
    padding: var(--tertiary-space);
}

.chat-message-wrap {
    width: 375px;
    border: 2px solid #333;
    background-color: #111;
    padding: var(--tertiary-space);
}

.chat-message-wrap.my-message {
    margin-left: auto;
}

.chat-message-wrap.system-message {
    padding: 5px var(--tertiary-space);
    background-color: #0000;
    margin-inline: auto;
    text-align: center;
    color: #444;
    border: none;
    width: auto;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.chat-author,
.chat-time,
.chat-message {
    line-height: 1;
}

.chat-author {
    font-weight: 700;
}

.chat-composer {
    background-color: #000;
    display: flex;
    gap: var(--tertiary-space);
    align-items: center;
    padding: 5px var(--tertiary-space);
    border-top: 2px solid #333;
}

.chat-composer input {
    border: none;
    box-shadow: none;
}
