<div class="game">
    <div class="editor-container">
        <div class="editor-wrap">
            <div class="editor" id="editor"></div>
            <div class="editor-floatbar">
                <button class="btn btn-primary">Run code</button>
            </div>
        </div>
        <div class="console-container">
            <div class="console-title">Console</div>
            <div class="console">
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
                <div>Just a test</div>
            </div>
        </div>
    </div>
    <div class="content"></div>
</div>
