body {
    padding: 0;
    --c0: 0,0,0;
    --c1: 17,17,17;
    --c2: 24,24,24;
    --c3: 34,34,34;
    --c4: 51,51,51;
    --quaternary-space: 5px;
}

body::before {
    all: unset;
}

::-webkit-scrollbar {
    width: 10px;
}

.container {
    padding-inline: var(--secondary-space);
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    align-content: space-evenly;
    min-height: 100svh;
}

.ace_editor {
    font: inherit;
    height: 100%;
}

@keyframes rainbow-border {
    0%  { box-shadow: inset 0 0 0 2px hsl(90, 100%, 40%); }
    25%  { box-shadow: inset 0 0 0 2px hsl(180, 100%, 40%); }
    40%  { box-shadow: inset 0 0 0 2px hsl(270, 100%, 40%); }
    75%  { box-shadow: inset 0 0 0 2px hsl(180, 100%, 40%); }
    100%  { box-shadow: inset 0 0 0 2px hsl(90, 100%, 40%); }
}

*:focus {
    animation: rainbow-border 12s linear infinite !important;
}

[hidden] {
    display: none !important;
}

.star,
.star:before {
    aspect-ratio: 1;
    clip-path: polygon(
        50% 0,
        calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
        calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
        calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
        calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
    );
}
.star {
    display: grid;
    place-items: center;
    width: 100%;
    background: #fa8b06;
}
.star:not(.starred):before {
    content: "";
    width: 75%;
    background: #000;
}