.list {
    display: grid;
    gap: 1.5rem;
}

.list-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background: #0004;
    border: 2px solid rgba(var(--primary-color), 1);
    box-shadow: 0 0 15px rgba(var(--primary-color), 0.5);
}

.list-item-content {
    flex: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 0.5rem;
}

.list-item-content > *:nth-child(3) {
    text-align: right;
}

.list-item-completed {
    display: flex;
    gap: 8px;
    align-items: center;

    .star-wrap {
        padding: 4px;
        cursor: pointer;

        .star {
            width: 32px;
        }
    }

    .form-check {
        pointer-events: none;
    }
}

.solved-indicator {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.25rem;
    line-height: 1;
    padding: 0.5rem;
    background: linear-gradient(45deg, #000c, #000a);
}
