@import url("../src/assets/bootstrap-icons/font/bootstrap-icons.css");
@import url("https://4skinSkywalker.github.io/Assets-for-my-Codepen/reset.css");
@import url("https://4skinSkywalker.github.io/Aeon-Flexx-CSS/aeon-flexx.css");

body {
    padding: 0;
}

body::before {
    all: unset;
}

.ace_editor {
    font: inherit;
    height: 100%;
}